Port 22
Protocol 2
ListenAddress 0.0.0.0
SyslogFacility AUTH
LogLevel INFO
SyslogFacility AUTHPRIV
LoginGraceTime 2m
PermitRootLogin yes
RhostsRSAAuthentication no
HostbasedAuthentication no
IgnoreRhosts yes
PasswordAuthentication yes
PermitEmptyPasswords no
ChallengeResponseAuthentication no
GSSAPICleanupCredentials yes
UsePAM no
X11Forwarding yes
#ClientAliveInterval 300
#ClientAliveCountMax 0